@model Entidad.User.User

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <fieldset>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
        
        <div class="container-fluid h-100 g-light text-dark">
            <div class="row justify-content-center align-items-center">
                <h3>Login</h3>
            </div>
            <hr />
            <div class="row justify-content-center align-items-center h-100">
                <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="form-group">
                        <p class="text-danger">
                            <asp:Literal runat="server" ID="ErrorMessage" />
                        </p>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(a => a.Email_, new {@class = "sr-only", @for = "email"})
                        @Html.TextBoxFor(a => a.Email_, new { @class = "form-control", @placehholder ="email", @id = "email"})
                        @Html.ValidationMessageFor(a => a.Email_)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(a => a.Password_, new { @class = "sr-only", @for = "password" })
                        @Html.PasswordFor(a => a.Password_, new { @class = "form-control", @placehholder = "password", @id = "password" })
                        @Html.ValidationMessageFor(a => a.Email_)
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Iniciar" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            console.log('copleted');
        });
    </script>
}
